/** Home Page **/
.bg1 {
  left: 0;
  top: 0;
  background-image: url('img/bar2.jpg');
  background-size: cover;
  min-height: 120vh;
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidebar-menu {
  top: 0;
  position: fixed;
  height: 100%;
  background-color: black;
  width: 20%;
}

.sidebar-menu ul {
  margin-top: 5%;
  text-align: center;
  padding: 0;
  list-style-type: none;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar-menu li {
  padding: 15% 0;
}

.sidebar-menu a {
  text-decoration: none;
  color: tan;
}

.sidebar-menu li:hover {
  background-color: rgb(100, 85, 66);
}

h1 {
  padding-left: 27%;
  padding-top: 12%;
  color: white;
  font-size: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** About Page **/
.text {
  margin-left: 20%;
  padding: 3% 7%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/** Search Bars Page **/
.bg2 {
  left: 0;
  top: 0;
  background-image: url('img/bar1.jpg');
  background-size: cover;
  min-height: 120vh;
  height: 100%;
  width: 100%;
  position: fixed;
}

input[type=text], select {
  width: 80%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 80%;
  background-color: rgb(77, 190, 255);
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(139, 212, 255);
}

.lookup {
  border-radius: 5px;
  color: white;
  padding: 20px;
  text-align: center;
  background-color: black;
  width: 40%;
  margin: 0 0 0 36%;
}

.gallery-container {
  padding: 2% 0 0 20%;
  margin: 0 0 0 9%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: white;
}

/**  My Profile Page **/
h2 {
  padding-left: 27%;
  margin-bottom: 2%;
  color: white;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile {
  border-radius: 2em;
  margin: 2% 0 0 27%;
  width: 15%;
  z-index: 1;
}

.profile-name {
  margin-left: 30%;
  padding-bottom: 4%;
  font-size: 30px;
}

.text-container {
  margin-left: 24%;
  background-color: white;
  position: fixed;
  opacity: 50%;
  padding: 10% 70% 25% 0;
  z-index: -1;
  max-width: 100%;
}




/** Contact Us Page **/
.left-aligned {
  text-align: left;
}
